service: POC2

frameworkVersion: '3'


provider:
  name: aws
  runtime: python3.8

  stage: dev
  region: us-west-2


custom:
  myStage: ${opt:stage, self:provider.stage}
  myRegion: ${opt:region, self:provider.region}
  myAccountId: ${AWS::AccountId}





  iamRoleStatements:
    - Effect: "Allow"
      Action:
       - dynamodb:Query
       - dynamodb:Scan
       - dynamodb:GetItem
       - dynamodb:PutItem
       - dynamodb:UpdateItem
       - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${self:custom.myStage}:${self:custom.myAccountId}:table/poc2_customer_table-${self:custom.myStage}"


resources: # CloudFormation template syntax from here on.
      Resources:
        usersTable:
          Type: AWS::DynamoDB::Table
          Properties:
            TableName: poc2_customer_table_${self:custom.myStage}
            AttributeDefinitions:
              - AttributeName: Customer_id
                AttributeType: S
            KeySchema:
              - AttributeName: Customer_id
                KeyType: HASH
              
              
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1

functions:
  crudDynamoDB:
    handler: poc2_serverless.crud_operations
    name: pipeline-function-${self:custom.myStage}
    events:
      - http:
          path: /
          method: GET 
      - http:
          path: /
          method: PUT 
      - http:
          path: /
          method: DELETE
      - http:
          path: /
          method: POST 




